doctype html
html(ng-app='DarkNight')
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		
		title DarkNight

		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', media='all', rel='stylesheet', type='text/css')
		link(href='/vendor/bootstrap/dist/css/bootstrap.min.css', media='all', rel='stylesheet', type='text/css')
		link(href='/vendor/font-awesome/css/font-awesome.min.css', media='all', rel='stylesheet', type='text/css')
		link(href='/css/styles.css', media='all', rel='stylesheet', type='text/css')

		script(src='/vendor/jquery/dist/jquery.min.js')
		//script(src='/vendor/angular/angular.min.js')
		script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
		script(type='text/javascript').
			var user = !{JSON.stringify(user)};

		block head

	body(ng-controller='LoginController')
	
		block body
